<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129428439505-tkivkkif2hqo96uhr70hsde5fmehluc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129428439505-tkivkkif2hqo96uhr70hsde5fmehluc5</string>
	<key>API_KEY</key>
	<string>AIzaSyD5u2Mebs-dmkB2Hr7wfWh-rhQcrzTSfis</string>
	<key>GCM_SENDER_ID</key>
	<string>129428439505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bocawest</string>
	<key>PROJECT_ID</key>
	<string>boca-west-259f9</string>
	<key>STORAGE_BUCKET</key>
	<string>boca-west-259f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129428439505:ios:60330771d49098b3a8a0f0</string>
	<key>DATABASE_URL</key>
	<string>https://boca-west-259f9.firebaseio.com</string>
</dict>
</plist>